.listContainer--multiTab-sliderCollection--buttons {
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2rem;
}

.listContainer--multiTab-sliderCollection--buttons::after {
  content: "";
  position: absolute;
  bottom: 7px;
  right: -1%;
  border-bottom: 1px solid #f18a00;
  width: 50%;
}

.listItem--multiTab-sliderCollection--buttonItem
:global(.vtex-button)  {
  background-color: transparent;
  color: #828282;
  border-color: transparent;
  font-weight: 600;
  font-family: 'Lexend', sans-serif;
}

.listItemActive
:global(.vtex-button) {
  color: #000 !important;
  border-bottom: 10px solid #f18a00 !important;
  border-radius: 0;
}

.container--multiTab-sliderCollection--container {
  padding-top: 75px;
}