.imageElement--header-hero-gif-image {
  width: 100%;
  height: auto;
  max-height: auto !important;
}

.imageElement--hero-image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 100% !important;
  object-fit: contain;
}

.discountInsideContainer {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #f18a00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.imageElement--boysGirlsImage--item {
  width: 100%;
  padding-right: .75rem;
}

.imageElement--promo-collection {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.imageElement--grid-guarantee--item-image {
  width: 100%;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}

.container--basic-newsletter {
  max-width: 1089px;
  padding: 34px 133px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  border-radius: 10px;
  position: relative;
  background-image: url(/arquivos/bgImage-newsletter.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -13%;
  border-bottom: 15px solid #fff;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}