.imageElement--header-hero-gif-image {
  width: 100%;
  height: auto;
  max-height: auto !important;
}

.imageElement--hero-image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 100% !important;
  object-fit: contain;
}

.discountInsideContainer {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #f18a00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.imageElement--boysGirlsImage--item {
  width: 100%;
  padding-right: .75rem;
}

.imageElement--promo-collection {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.imageElement--grid-guarantee--item-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 40px;
}